        <div class="post">
          <%= image_tag post.image, class: 'post-img' %>
          <h2 class="post-title">
            <%= post.title %>
          </h2>
          <div class="icon-box">
            <%= image_tag 'sample1.jpeg', class: 'icon-pic'%>
            <h3 class="user-name"><%= post.user.nickname %></h3>
          </div>
          <h3 class="overview-title">概要</h3>
          <p class="post-overview">
            <%= post.overview %>
          </p>
          <div class="likes">
            <a href="#" class="far fa-star"></a>
            <span class="likes-count">2</span>
          </div>
        </div>